.eye-container {
    display: flex;
    gap: 40px;
    z-index: 999;
}

.eye {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #ffffff, #d1d1d1);
    border: 3px solid #000222; /* Warna border biru terang */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.pupil {
    width: 40px;
    height: 40px;
    background: radial-gradient(circle, #3f6dff, #00d8f2); /* Gradasi pupil biru ke cyan */
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.1s ease-out;
}

@media (max-width: 768px) {
    .eye-container {
        gap: 20px; /* Mengurangi jarak antar mata */
    }

    .eye {
        width: 80px;
        height: 80px;
    }

    .pupil {
        width: 30px;
        height: 30px;
    }

    .start-container h1 {
        font-size: 24px;
    }

    .start-container p {
        font-size: 16px;
    }

    #start-button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .eye-container {
        align-items: center;
        gap: 15px;
    }

    .eye {
        width: 70px;
        height: 70px;
    }

    .pupil {
        width: 25px;
        height: 25px;
    }

    .start-container h1 {
        font-size: 20px;
    }

    .start-container p {
        font-size: 14px;
    }

    #start-button {
        padding: 8px 16px;
        font-size: 12px;
    }
}