.eye-container {
    display: flex;
    gap: 40px;
    z-index:999;
}

.eye {
    width: 100px;
    height: 100px;
    background: radial-gradient(circle, #ffffff, #d1d1d1);
    border: 3px solid #4e5d6c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    position: relative;
}

.pupil {
    width: 40px;
    height: 40px;
    background: radial-gradient(circle, #0078d7, #003c70);
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.1s ease-out;
}